.body {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.body > * {
    padding-left: 3%;
    padding-right: 3%;
}

.body-title {
    padding-top: 30px;
    box-sizing: border-box;
}

.body-title-h1 > span {
    position: relative;
    font-size: 70px;
    font-weight: bold;
    color: rgb(255,255,255);
}

.body-title-h1 > span::after {
    content: '';
    position: absolute;
    height: 130px;
    width: 130px;
    background-image: url('../../../assets/triangle.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.08;
    right: -90px;
    top: -15px;
}

@media screen and (max-width: 500px) {
    .body-title-h1 > span {
        font-size: 40px;
    }
    
    .body-title-h1 > span::after {
        height: 60px;
        width: 60px;
        right: -35px;
        top: 0;
    }
}

.body-wrapper {
    width: 100%;
    display: flex;
}

@media screen and (max-width: 1100px) {
    .body-wrapper {
        flex-direction: column-reverse;
    }
}

.body-left {
    width: 70%;
}

@media screen and (max-width: 1100px) {
    .body-left {
        width: 100%;
    }
}

.body-left-playlists {
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;
}

.body-left-playlists-items {
    height: auto;
    display: flex;
    justify-content: space-between;
    gap: 2%;
}

.body-left-topelems {
    display: flex;
    gap: 2%;
    display: flex;
}


@media screen and (max-width: 1300px) {
    .body-left-topelems {
        flex-direction: column;
    }
}

.body-left-topelems-tracks {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 1300px) {
    .body-left-topelems-tracks {
        width: 100%;
    }
}

.body-left-topelems-tracks-items {
    height: auto;
    display: flex;
    justify-content: space-between;
    gap: 1vw;
}

.body-left-topelems-artists {
    width: 38%;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1300px) {
    .body-left-topelems-artists {
        width: 100%;
    }
}

.body-left-topelems-artists-items {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.body-right {
    height: auto;
    width: 27%;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

@media screen and (max-width: 1100px) {
    .body-right {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

.body-right-items {
    height: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@media screen and (max-width: 1100px) {
    .body-right-items {
        display: block;
    }
}

.body-left-topelems-artists > p, .body-left-playlists > p, .body-left-topelems-tracks > p, .body-right > p {
    font-size: 12px;
    color: rgb(165,176,195);
    text-align: end;
    padding-left: 20px;
    padding-bottom: 10px;
}
