.mainplaylists {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border-radius: 2vh;
}

.mainplaylists:after{
    content: '';
    display: block;
    padding-bottom: 100%;
}
