.mainplayed {
    height: 14.5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    background-color: rgb(33,43,59);
    box-sizing: border-box;
    border-radius: 12px;
}

@media screen and (max-width: 1100px) {
    .mainplayed {
        height: auto;
        margin: 1%;
        width: 31.3%;
        float: left;
    }
}

@media screen and (max-width: 750px) {
    .mainplayed {
        width: 100%;
        margin: 0;
        margin-bottom: 1%;
    }
}

.mainplayed-img {
    width: 14%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 1%;
    border-radius: 10px;
}

@media screen and (max-width: 1300px) {
    .mainplayed-img {
        width: 35%;
    }
}

@media screen and (max-width: 1100px) {
    .mainplayed-img {
        width: 32px;
    }
}

@media screen and (max-width: 750px) {
    .mainplayed-img {
        display: none;
    }
}

.mainplayed-img:after{
    content: '';
    display: block;
    padding-bottom: 100%;
}

@media screen and (max-width: 1100px) {
    .mainplayed-img:after{
        padding-bottom: 32px;
    }
}

.mainplayed-name {
    font-size: 12px;
    font-weight: 600;
    color: rgb(255,255,255);
    line-height: 14px;
    margin-left: 10px;
}

@media screen and (max-width: 750px) {
    .mainplayed-name {
        width: 100%;
        display: flex;
        gap: 1%;
    }
}

.mainplayed-name p {
    font-size: 12px;
    font-weight: 400;
    color: rgb(77, 123, 175);
}

@media screen and (max-width: 1100px) {
    .mainplayed-name p {
        font-size: 10px;
    }
}