.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 90px;
    width: 100%;
    background: linear-gradient(135deg, rgb(255, 124, 141)0%, rgb(195,83,216) 50%, rgba(117,155,211,1) 90%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 750px) {
    .footer {
        height: 60px;
        justify-content: flex-start;
    }
}

.footer::before, .footer::after {
    content: '';
    position: absolute;
    height: 20px;
    width: 120px;
}

.footer::before {
    top: -20px;
    left: 0;
    border-radius: 0 0 0 50%;
    box-shadow: -60px 0 0 0 rgba(217,112,139,1);
}


.footer::after {
    top: -20px;
    right: 0;
    border-radius: 0 0 50% 0;
    box-shadow: 60px 0 0 0 rgba(117,155,211,1);
}

@media screen and (max-width: 500px) {
    .footer::before, .footer::after {
        content: '';
        position: absolute;
        height: 0;
        width: 0;
    }
}
