.maintracks {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border-radius: 2vh;
}

.maintracks-img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.maintracks-img:after{
    content: '';
    display: block;
    padding-bottom: 100%;
}

.maintracks-name {
    margin-top: 2px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: rgb(165,176,195);
    text-shadow: 0 0 10px rgb(0,0,0);
    line-height: 12px;
    user-select: none;
}

.maintracks-name p {
    color: rgb(77, 123, 175);
    padding-top: 5px;
    font-weight: 400;
    font-size: 12px;
}